In [1]:
import os, sys
currentdir = os.path.dirname(os.path.realpath("."))
sys.path.append(currentdir)

In [2]:
sys.path

['/disk2/yifan/code/SAAM/src/SAAM_V3_Beer',
 '/home/yifan/anaconda3/envs/saam/lib/python37.zip',
 '/home/yifan/anaconda3/envs/saam/lib/python3.7',
 '/home/yifan/anaconda3/envs/saam/lib/python3.7/lib-dynload',
 '',
 '/home/yifan/anaconda3/envs/saam/lib/python3.7/site-packages',
 '/disk2/yifan/code/transformers/src',
 '/disk2/yifan/code/pytorch-lightning',
 '/home/yifan/anaconda3/envs/saam/lib/python3.7/site-packages/IPython/extensions',
 '/home/yifan/.ipython',
 '/disk2/yifan/code/SAAM/src']

In [3]:
import numpy as np
import pandas as pd

from datahelper.Data import *

In [4]:
sent_num_file = ["train.count", "test.count"]
rating_file = ["train.rating", "test.rating"]
content_file = ["train.txt", "test.txt"]

dataset_dir = "../../data/beer_100k/"

In [5]:
def concat_to_doc(sent_list, sent_count):
    start_index = 0
    docs = []
    for s in sent_count:
        doc = " xxPERIOD ".join(sent_list[start_index:start_index + s])
        doc = doc + " xxPERIOD "
        docs.append(doc)
        start_index = start_index + s
    return docs

In [6]:
TRAIN_DATA = 0
TEST_DATA = 1

## Load Training Data

In [9]:
# Load Count
sent_count_train = list(open(dataset_dir + sent_num_file[TRAIN_DATA], "r").readlines())
sent_count_train = [int(s) for s in sent_count_train if (len(s) > 0 and s != "\n")]
print( sent_count_train[0:5] )

# Load Ratings
aspect_rating_train = list(open(dataset_dir + rating_file[TRAIN_DATA], "r").readlines())
aspect_rating_train = [s for s in aspect_rating_train if (len(s) > 0 and s != "\n")]

aspect_rating_train = [s.split(" ") for s in aspect_rating_train]
aspect_rating_train = np.array(aspect_rating_train)[:, :]
aspect_rating_train = aspect_rating_train.astype(np.float) - 1
aspect_rating_train = np.rint(aspect_rating_train).astype(int)  # ROUND TO INTEGER =================
aspect_rating_train = pd.DataFrame(aspect_rating_train)
print( aspect_rating_train.head() )

# Load Sents
sents_train = list(open(dataset_dir + content_file[TRAIN_DATA], "r").readlines())
sents_train = [s.strip() for s in sents_train]
sents_train = [s[:-1] for s in sents_train if s.endswith(".")]
print( sents_train[0:5] )

[8, 7, 9, 14, 12]
   0  1  2  3  4
0  0  2  0  0  1
1  2  2  2  2  2
2  2  2  2  2  2
3  2  2  2  2  2
4  2  2  3  3  2
['A lot of foam', 'But a lot', 'In the smell some banana, and then lactic and tart', 'Not a good start', 'Quite dark orange in color, with a lively carbonation (now visible, under the foam)']

In [10]:
docs_train = concat_to_doc(sents_train, sent_count_train)
docs_train = pd.DataFrame(docs_train)
docs_train.head()

                                                   0
0  A lot of foam xxPERIOD But a lot xxPERIOD In t...
1  Dark red color, light beige foam, average xxPE...
2  Almost totally black xxPERIOD Beige foam, quit...
3  Golden yellow color xxPERIOD White, compact fo...
4  22 oz bottle from "Lifesource" Salem xxPERIOD ...

In [11]:
df_train = pd.concat( [aspect_rating_train, docs_train], axis=1, ignore_index=True )

In [12]:
df_train.shape

(75116, 6)

In [ ]:
df_train = df_train[df_train.iloc[:,0:5].min(axis=1) >= 0]

In [13]:
df_train

       0  1  2  3  4                                                  5
0      0  2  0  0  1  A lot of foam xxPERIOD But a lot xxPERIOD In t...
1      2  2  2  2  2  Dark red color, light beige foam, average xxPE...
2      2  2  2  2  2  Almost totally black xxPERIOD Beige foam, quit...
3      2  2  2  2  2  Golden yellow color xxPERIOD White, compact fo...
4      2  2  3  3  2  22 oz bottle from "Lifesource" Salem xxPERIOD ...
...   .. .. .. .. ..                                                ...
75111  2  2  2  2  2  Thanks again, Bobby xxPERIOD A: The beer pours...
75112  2  3  2  2  3  Thanks to Smoked for sharing this with me xxPE...
75113  2  2  2  1  2  A: No hiss or pop when I cracked the cap off x...
75114  2  2  2  2  2  I got to try this courtesy of normyk (thanks R...
75115  2  2  2  2  3  Thanks normyk for this one xxPERIOD Pours a cl...

[75116 rows x 6 columns]

In [14]:
df_train.to_pickle("../../data/beer_100k/df_train.pickle")

## Load Testing Data

In [15]:
# Load Count
sent_count_test = list(open(dataset_dir + sent_num_file[TEST_DATA], "r").readlines())
sent_count_test = [int(s) for s in sent_count_test if (len(s) > 0 and s != "\n")]
print( sent_count_test[0:5] )

# Load Ratings
aspect_rating_test = list(open(dataset_dir + rating_file[TEST_DATA], "r").readlines())
aspect_rating_test = [s for s in aspect_rating_test if (len(s) > 0 and s != "\n")]

aspect_rating_test = [s.split(" ") for s in aspect_rating_test]
aspect_rating_test = np.array(aspect_rating_test)[:, :]
aspect_rating_test = aspect_rating_test.astype(np.float) - 1
aspect_rating_test = np.rint(aspect_rating_test).astype(int)  # ROUND TO INTEGER =================
aspect_rating_test = pd.DataFrame(aspect_rating_test)
print( aspect_rating_test.head() )

# Load Sents
sents_test = list(open(dataset_dir + content_file[TEST_DATA], "r").readlines())
sents_test = [s.strip() for s in sents_test]

# Sents to Doc
docs_test = concat_to_doc(sents_test, sent_count_test)

docs_test = pd.DataFrame(docs_test)
print( docs_test.head() )

[13, 12, 7, 9, 6]
   0  1  2  3  4
0  3  3  4  3  4
1  2  2  2  2  2
2  3  3  3  2  3
3  3  2  2  2  4
4  2  2  2  2  2
                                                   0
0  According to the website, the style for the Ca...
1  Poured from the bottle into a Chimay goblet. x...
2  Notes from 6/24. xxPERIOD A: Bright golden glo...
3  22 oz. xxPERIOD bomber,. xxPERIOD A: Pours a c...
4  Brown in color, somewhere between a porter and...

In [16]:
df_test = pd.concat( [aspect_rating_test, docs_test], axis=1, ignore_index=True )
df_test.head()

   0  1  2  3  4                                                  5
0  3  3  4  3  4  According to the website, the style for the Ca...
1  2  2  2  2  2  Poured from the bottle into a Chimay goblet. x...
2  3  3  3  2  3  Notes from 6/24. xxPERIOD A: Bright golden glo...
3  3  2  2  2  4  22 oz. xxPERIOD bomber,. xxPERIOD A: Pours a c...
4  2  2  2  2  2  Brown in color, somewhere between a porter and...

In [17]:
df_test.shape

(24884, 6)

In [18]:
df_test.to_pickle("../../data/beer_100k/df_test.pickle")